<launch> 
  <include file="$(find realsense2_camera)/launch/rs_camera.launch"> 
    <arg name="camera" value="jcCam"/> 
    <arg name="serial_no" value="923322070875"/> 
    <arg name="filters" value="spatial,temporal,pointcloud"/> 
  </include> 
  <include file="$(find realsense2_camera)/launch/rs_camera.launch"> 
    <arg name="camera" value="jcCam"/> 
    <arg name="serial_no" value="923322070875"/> 
    <arg name="filters" value="spatial,temporal,pointcloud"/> 
  </include> 
</launch> 

